[core]
    excludesfile = ~/.gitignore_global
    pager = delta
	autocrlf = input
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true  # use n and N to move between diff sections
    file-modified-label = delta
[color]
    ui = auto
[rerere]
    enabled = true
[rebase]
    autosquash = true
[fetch]
    prune = true
[pull]
    ff = only
[merge]
#    ff = only
	tool = Kaleidoscope
    conflictstyle = diff3
[include]
    path = ~/.gitconfig.local
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[mergetool]
	prompt = false
[diff]
	tool = Kaleidoscope
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[alias]
	recent = branch --sort=-committerdate --format=\"%(committerdate:relative)%09%(refname:short)\"
	pr-with-commit = !~/dotfiles/zsh/scripts/hub-pr-with-commit.sh
	diff-patch = !~/dotfiles/zsh/scripts/diff-patch.sh
	dc = commit -m \"wip\"
    ia = !git add $(git ls-files --modified --others --exclude-standard | fzf -m)
    addm = "!git ls-files --deleted --modified --other --exclude-standard | fzf -0 -m --preview 'git diff --color=always {-1}' | xargs -r git add"
    resetm = "!git diff --name-only --cached | fzf -0 -m --preview 'git diff --color=always {-1}' | xargs -r git reset"


