<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Favorites Root</key>
	<dict>
		<key>Children</key>
		<array>
			<dict>
				<key>Children</key>
				<array>
					<dict>
						<key>colorIndex</key>
						<integer>0</integer>
						<key>database</key>
						<string></string>
						<key>host</key>
						<string>db3.browserhosting.com</string>
						<key>id</key>
						<integer>5723097732580794739</integer>
						<key>name</key>
						<string>DB3 (Production)</string>
						<key>port</key>
						<string></string>
						<key>socket</key>
						<string></string>
						<key>sshHost</key>
						<string></string>
						<key>sshKeyLocation</key>
						<string></string>
						<key>sshKeyLocationEnabled</key>
						<integer>0</integer>
						<key>sshPort</key>
						<string></string>
						<key>sshUser</key>
						<string></string>
						<key>sslCACertFileLocation</key>
						<string></string>
						<key>sslCACertFileLocationEnabled</key>
						<integer>0</integer>
						<key>sslCertificateFileLocation</key>
						<string></string>
						<key>sslCertificateFileLocationEnabled</key>
						<integer>0</integer>
						<key>sslKeyFileLocation</key>
						<string></string>
						<key>sslKeyFileLocationEnabled</key>
						<integer>0</integer>
						<key>type</key>
						<integer>0</integer>
						<key>useSSL</key>
						<integer>0</integer>
						<key>user</key>
						<string>db3</string>
					</dict>
					<dict>
						<key>colorIndex</key>
						<integer>1</integer>
						<key>database</key>
						<string></string>
						<key>host</key>
						<string>websites-staging.cyadfwx0pvrr.us-east-2.rds.amazonaws.com</string>
						<key>id</key>
						<integer>4689227819792616577</integer>
						<key>name</key>
						<string>GroupM (Staging)</string>
						<key>port</key>
						<string></string>
						<key>socket</key>
						<string></string>
						<key>sshHost</key>
						<string></string>
						<key>sshKeyLocation</key>
						<string></string>
						<key>sshKeyLocationEnabled</key>
						<integer>0</integer>
						<key>sshPort</key>
						<string></string>
						<key>sshUser</key>
						<string></string>
						<key>sslCACertFileLocation</key>
						<string></string>
						<key>sslCACertFileLocationEnabled</key>
						<integer>0</integer>
						<key>sslCertificateFileLocation</key>
						<string></string>
						<key>sslCertificateFileLocationEnabled</key>
						<integer>0</integer>
						<key>sslKeyFileLocation</key>
						<string></string>
						<key>sslKeyFileLocationEnabled</key>
						<integer>0</integer>
						<key>type</key>
						<integer>0</integer>
						<key>useSSL</key>
						<integer>0</integer>
						<key>user</key>
						<string>admin</string>
					</dict>
					<dict>
						<key>colorIndex</key>
						<integer>1</integer>
						<key>database</key>
						<string>srmportal_dev</string>
						<key>host</key>
						<string>127.0.0.1</string>
						<key>id</key>
						<integer>7563546585562649211</integer>
						<key>name</key>
						<string>SRM Portal (Local)</string>
						<key>port</key>
						<string></string>
						<key>socket</key>
						<string></string>
						<key>sshHost</key>
						<string>127.0.0.1</string>
						<key>sshKeyLocation</key>
						<string></string>
						<key>sshKeyLocationEnabled</key>
						<integer>0</integer>
						<key>sshPort</key>
						<string></string>
						<key>sshUser</key>
						<string>vagrant</string>
						<key>sslCACertFileLocation</key>
						<string></string>
						<key>sslCACertFileLocationEnabled</key>
						<integer>0</integer>
						<key>sslCertificateFileLocation</key>
						<string></string>
						<key>sslCertificateFileLocationEnabled</key>
						<integer>0</integer>
						<key>sslKeyFileLocation</key>
						<string></string>
						<key>sslKeyFileLocationEnabled</key>
						<integer>0</integer>
						<key>type</key>
						<integer>2</integer>
						<key>useSSL</key>
						<integer>0</integer>
						<key>user</key>
						<string>srmportal_dev</string>
					</dict>
					<dict>
						<key>colorIndex</key>
						<integer>1</integer>
						<key>database</key>
						<string>gsicms_s</string>
						<key>host</key>
						<string>database2-websites.cobgaw6gcrem.eu-west-1.rds.amazonaws.com</string>
						<key>id</key>
						<integer>-1363290589437598345</integer>
						<key>name</key>
						<string>GSI CMS (Staging)</string>
						<key>port</key>
						<string>3306</string>
						<key>socket</key>
						<string></string>
						<key>sshHost</key>
						<string></string>
						<key>sshKeyLocation</key>
						<string></string>
						<key>sshKeyLocationEnabled</key>
						<integer>0</integer>
						<key>sshPort</key>
						<string></string>
						<key>sshUser</key>
						<string></string>
						<key>sslCACertFileLocation</key>
						<string></string>
						<key>sslCACertFileLocationEnabled</key>
						<integer>0</integer>
						<key>sslCertificateFileLocation</key>
						<string></string>
						<key>sslCertificateFileLocationEnabled</key>
						<integer>0</integer>
						<key>sslKeyFileLocation</key>
						<string></string>
						<key>sslKeyFileLocationEnabled</key>
						<integer>0</integer>
						<key>type</key>
						<integer>0</integer>
						<key>useSSL</key>
						<integer>0</integer>
						<key>user</key>
						<string>gsicms_s</string>
					</dict>
					<dict>
						<key>colorIndex</key>
						<integer>3</integer>
						<key>database</key>
						<string>twine_dev</string>
						<key>host</key>
						<string>127.0.0.1</string>
						<key>id</key>
						<integer>5026815043597171566</integer>
						<key>name</key>
						<string>Local Twine</string>
						<key>port</key>
						<string></string>
						<key>socket</key>
						<string></string>
						<key>sshHost</key>
						<string></string>
						<key>sshKeyLocation</key>
						<string></string>
						<key>sshKeyLocationEnabled</key>
						<integer>0</integer>
						<key>sshPort</key>
						<string></string>
						<key>sshUser</key>
						<string></string>
						<key>sslCACertFileLocation</key>
						<string></string>
						<key>sslCACertFileLocationEnabled</key>
						<integer>0</integer>
						<key>sslCertificateFileLocation</key>
						<string></string>
						<key>sslCertificateFileLocationEnabled</key>
						<integer>0</integer>
						<key>sslKeyFileLocation</key>
						<string></string>
						<key>sslKeyFileLocationEnabled</key>
						<integer>0</integer>
						<key>type</key>
						<integer>0</integer>
						<key>useSSL</key>
						<integer>0</integer>
						<key>user</key>
						<string>twine_user</string>
					</dict>
					<dict>
						<key>colorIndex</key>
						<integer>3</integer>
						<key>database</key>
						<string>browserlondon_dev</string>
						<key>host</key>
						<string>127.0.0.1</string>
						<key>id</key>
						<integer>-4416111343441069194</integer>
						<key>name</key>
						<string>BrowserLondon2018 (local)</string>
						<key>port</key>
						<string>4306</string>
						<key>socket</key>
						<string></string>
						<key>sshHost</key>
						<string></string>
						<key>sshKeyLocation</key>
						<string></string>
						<key>sshKeyLocationEnabled</key>
						<integer>0</integer>
						<key>sshPort</key>
						<string></string>
						<key>sshUser</key>
						<string></string>
						<key>sslCACertFileLocation</key>
						<string></string>
						<key>sslCACertFileLocationEnabled</key>
						<integer>0</integer>
						<key>sslCertificateFileLocation</key>
						<string></string>
						<key>sslCertificateFileLocationEnabled</key>
						<integer>0</integer>
						<key>sslKeyFileLocation</key>
						<string></string>
						<key>sslKeyFileLocationEnabled</key>
						<integer>0</integer>
						<key>type</key>
						<integer>0</integer>
						<key>useSSL</key>
						<integer>0</integer>
						<key>user</key>
						<string>browserlondon</string>
					</dict>
				</array>
				<key>IsExpanded</key>
				<true/>
				<key>Name</key>
				<string>Browser</string>
			</dict>
		</array>
		<key>IsExpanded</key>
		<true/>
		<key>Name</key>
		<string>FAVORITES</string>
	</dict>
</dict>
</plist>
